footer {
    width: 100%;
    height: 67px;
    background: #ffab00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 24px;
}

.social-icon {
    margin-right: 0;
    display: flex;
}

.footer__social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 252px;
}

.social-icon-link {
    width: 24px;
    height: 24px;
    display: flex;
}

.social-icon:last-child {
    margin-right: 0;
    display: none;
}

.social-icon-link-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-enter {
    display: none;
}

.group-add {
    height: 24px;
    width: 24px;
}