.section-2 {
    width: 100%;
    height: 510px;
    margin-top: 181px;
    background: radial-gradient(95.07% 208.89% at 50% -135.55%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
}

.section-2-block {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    position: relative;
    z-index: 6;
    width: 254px;
    height: 446px;
}

.smartphone-img {
    background-image: url(../../build/img/media/1440px/section-2/smartphone_section-2.png);
    width: 371px;
    height: 637.38px;
    margin-left: 125px;
}

.section-2__block-describe {
    display: flex;
    flex-direction: column;
    margin-top: 204px;
}

.marked-you {
    width: 238px;
    height: auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ff9c01;
    z-index: 6;
}

.you-love-restraunts {
    width: 238px;
    height: 32px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-2-text {
    width: 254px;
    height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
}

.section-2__block-achievments {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}

.block-achievment {
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 30px;
    margin-right: 22px;
}

.block-achievment:last-child {
    margin-right: 0;
}

.achievment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
}

.achievment:last-child {
    width: 47px;
    height: 30px;
}

.achievment-text {
    width: 72px;
    height: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}