.section-4 {
    width: 768px;
    background: linear-gradient(180deg, #ffab00 -182.82%, #ffcd68 -100.25%, #ffab00 54.78%, #ffab00 95.73%);
    height: 329px;
}

.section-4__wrap {
    width: 255px;
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    padding-top: 17px;
    position: relative;
}

.section-4-header-delivery {
    height: 32px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
    width: 100px;
}

.delivery-girl {
    position: absolute;
    top: -110px;
    right: 0px;
    z-index: 4;
}