.section-6
 img.section-6-layout(src="../../../build/img/media/768px/section-6/layout.png")
 .section-6__wrap 
   img.smartphone-sprite-pic
   .section-6__reviews-block
    .section-6__reviews-with-ring
     .section-6__reviews отзывы 
     img.reviews-img(src="build/img/section-6/ring.png" alt="ring") 
    
    p.section-6__describe 
        | Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, 
        | доставкой и возможностью предзаказа 

    .section-6__block-figure 
        .figure  
        .figure
        .figure-big

    .section-6__reviews-clients 
        | Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, 
        | доставкой и возможностью предзаказа приложение и создавайте свое виртуальное
        | афеэлектронным меню, доставкой и возможностью предзаказа приложение и 
        | создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью 
        | предзаказа

    .name_client Андрей Cмирнов, Клиент

    picture.section-3__ball-purple.section-6-bubble--modify 
        source(srcset="build/img/media/1440px/section-6/bubble-section-6.png" media="(min-width:768px)")
        source(srcset="build/img/media/1440px/section-6/bubble-section-6.png" media="(min-width:1440px)")
        img(src="build/img/media/1440px/section-6/bubble-section-6.png", alt="purple_bubble")

    picture.section-3__ball-crimson.section-6-bubble-crimson--modify 
        source(srcset="build/img/media/1440px/section-6/big-crimson-bubble-section-6.png" media="(min-width:768px)")
        source(srcset="build/img/media/1440px/section-6/big-crimson-bubble-section-6.png" media="(min-width:1440px)")
        img(src="build/img/media/1440px/section-6/big-crimson-bubble-section-6.png", alt="purple_bubble")

    picture.section-3__ball-crimson.section-6-bubble-big-crimson--modify 
        source(srcset="build/img/media/1440px/section-6/big-cherry-bubble-section-6.png" media="(min-width:768px)")
        source(srcset="build/img/media/1440px/section-6/big-cherry-bubble-section-6.png" media="(min-width:1440px)")
        img(src="build/img/media/1440px/section-6/big-cherry-bubble-section-6.png", alt="purple_bubble")
    
    picture.section-6__leefs
     source(srcset="build/img/media/1440px/section-6/section-6_picture-3-figure.png" media="(min-width:1440px)")
     source(srcset="../../../build/img/media/768px/section-6/section-5_picture-3-figure-cutted-2.png" media="(min-width:768px)")
     img(src="build/img/media/1440px/section-6/section-6_picture-3-figure.png" alt="leefs")