.section-5
 .section-5__wrap
   .section-5__block
    .section-5__header-block
      h3.section-5__header Часто задаваемые 
      span.FAQ вопросы 🍪
  
 
      select#section-5__select(name="") 
        option(value="")  Вопрос в несколько слов
        option(value="")  Вопрос в несколько слов
        option(value="")  Вопрос в несколько слов
        option(value="")  Вопрос в несколько слов
    
    p.section-5__describe 
     | Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
     | и создавайте свое виртуальное кафе
    
    .section-5__select-block
       select#section-5__select(name="") 
        option.section-5-option(value="")  Вопрос в несколько строк
        option.section-5-option(value="")  Вопрос в несколько строк
        option.section-5-option(value="")  Вопрос в несколько строк
        option.section-5-option(value="")  Вопрос в несколько строк

       select#section-5__select(name="") 
        option.section-5-option(value="")  Вопрос в несколько букв
        option.section-5-option(value="")  Вопрос в несколько букв
        option.section-5-option(value="")  Вопрос в несколько букв
        option.section-5-option(value="")  Вопрос в несколько букв
        

       select#section-5__select(name="") 
        option.section-5-option(value="")  Вопрос в несколько символов
        option.section-5-option(value="")  Вопрос в несколько символов
        option.section-5-option(value="")  Вопрос в несколько символов
        option.section-5-option(value="")  Вопрос в несколько символов
            

       select#section-5__select(name="") 
        option.section-5-option(value="")  Вопрос в несколько слов
        option.section-5-option(value="")  Вопрос в несколько слов
        option.section-5-option(value="")  Вопрос в несколько слов
        option.section-5-option(value="")  Вопрос в несколько слов

   img.cooker-img(src="build/img/media/1440px/section-5/cooker.png", alt="")

    
    