.section-2
 .section-2-block 
  .section-2__block-describe
    .section-2__header-block 
     p.marked-you ВАШИ 
     .you-love-restraunts ЛЮБИМЫЕ РЕСТОРАНЫ онлайн 📱
      
    p.section-2-text Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа 
    .section-2__block-achievments 
     .block-achievment
      .achievment 1740 +
      .achievment-text Скачиваний
     .block-achievment
      .achievment 12 +
      .achievment-text Ресторанов
     .block-achievment
      .achievment ДО 90%
      .achievment-text Cкидки

  picture.smartphone-img 
   source(srcset="build/img/media/1440px/section-2/smartphone-1440.png" media="(min-width: 1440px)")
   source(srcset="build/img/media/768px/section-2/section-2_phone.png" media="(min-width: 768px)")
   img(src="build/img/section-2/Smartphone-img.png", alt="Smartphone") 
 
  .section-2__block-bubbles 
    picture.section-2__bubble-1
     source(srcset="build/img/media/1440px/section-2/block-bubbles/Rectangle-1.png" media="(min-width:1440px)")
     img(src="build/img/media/1440px/section-2/block-bubbles/Rectangle-1.png") 
    picture.section-2__bubble-2 
     source(srcset="build/img/media/1440px/section-2/block-bubbles/Rectangle-2.png" media="(min-width:1440px)")
     img(src="build/img/media/1440px/section-2/block-bubbles/Rectangle-2.png") 
    picture.section-2__bubble-3 
     source(srcset="build/img/media/1440px/section-2/block-bubbles/Rectangle-3.png" media="(min-width:1440px)")
     img(src="build/img/media/1440px/section-2/block-bubbles/Rectangle-3.png") 