.section-4 
 .section-4__wrap
  picture.delivery-girl
   source(srcset="build/img/media/1440px/section-4/delivery-girl-1440px.png" media="(min-width:1440px)")
   source(srcset="build/img/media/768px/section-4/delivery-girl-768.png" media="(min-width:768px)")
   
   img(src="build/img/section-4/delivery-girl.png", alt="")
  .section-4__block-text 
   .section-4-header-delivery У НАС ЕСТЬ ДОСТАВКА 🚁   
   p.section-4-text Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа 
  
  picture.section-4__ball-small-purple 
   source(srcset="build/img/media/768px/section-4/purple-ball-768.png" media="(min-width:768px)")
   source(srcset="build/img/media/1440px/section-4/purple_bubble.png" media="(min-width:1440px)")
   img(src="build/img/media/1440px/section-4/purple_bubble.png", alt="purple_bubble")
  picture.section-3__ball-purple 
   source(srcset="build/img/media/1440px/section-4/purple_bubble.png" media="(min-width:768px)")
   source(srcset="build/img/media/1440px/section-4/purple_bubble.png" media="(min-width:1440px)")
   img(src="build/img/media/1440px/section-4/purple_bubble.png", alt="purple_bubble")
  picture.section-3__crimson-purple 
   source(srcset="build/img/media/1440px/section-4/crimson-bubble.png" media="(min-width:768px)")
   source(srcset="build/img/media/1440px/section-4/crimson-bubble.png" media="(min-width:1440px)")
   img(src="build/img/media/1440px/section-4/crimson-bubble.png", alt="purple_bubble")

  picture.section-3__big-purple 
   source(srcset="build/img/media/1440px/section-4/big-purple-ball-blur.png" media="(min-width:768px)")
   source(srcset="build/img/media/1440px/section-4/big-purple-ball-blur.png" media="(min-width:1440px)")
   img(src="build/img/media/1440px/section-4/big-purple-ball-blur.png", alt="purple_bubble")
