.section-contacts 
 .section-contacts__wrap 
  .section-contacts-block 
   .contact-me-block
    .contact-me Связаться с нами 
    .heart 
   p.contact-me-any-questions Вы можете связаться с нами по любому вопросу
   .form 
    input(type="text" placeholder="Ваше Имя") 
    input(type="text" placeholder="Телефон")
    input(type="text" placeholder="E-mail")
 
    a.form__link Отправить
    p.form__policy Нажимая на кнопку “Отправить” вы соглашаетесь с политикой конфиденциальности
