.section-contacts 
 .section-contacts__wrap 
  .section-contacts-block 
   .block-contact-text
    .contact-me-block
     .contact-me Связаться с нами 
     span.heart 
    p.contact-me-any-questions Вы можете связаться с нами по любому вопросу
   
   .form 
      input(type="text" placeholder="Ваше Имя") 
      input(type="text" placeholder="Телефон")
      input(type="text" placeholder="E-mail")   
      a.form__link Отправить

   .policy-block
      span.form__policy Нажимая на кнопку “Отправить” вы соглашаетесь с 
       a.policy(href="#") политикой конфиденциальности
