.section-3
  .section-3-wrap
    .section__header-question.section-3--column 
     span.marked-header-question.section-3--width Единая платформа 
     .header-question-download ДЛЯ всей россии 🌏 

    p.section-3-text Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа 
    img.section-3__map(src="../../../build/img/section-3/map_RU.png" alt="map") 
    img.section-3__map--768(src="../../../build/img/media/768px/section-3/map-768.png" alt="map")
    img.section-3__map--ball-purple(src="../../../build/img/media/768px/section-3/ball-purple.png" alt="ball-purple")

      