.section-6
 .section-6__wrap 
  .section-6__reviews-block
   .section-6__reviews отзывы 
   img.reviews-img(src="../../../build/img/section-6/ring.png" alt="ring") 
  
  p.section-6__describe 
   | Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение
   | и создавайте свое виртуальное кафе

  .section-6__block-figure 
   .figure  
   .figure
   .figure-big

  .section-6__reviews-clients 
   | Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, 
   | доставкой и возможностью предзаказа приложение и создавайте свое виртуальное
   | афеэлектронным меню, доставкой и возможностью предзаказа приложение и 
   | создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью 
   | предзаказа
   
 