doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Food_platform_AppFox
        link(rel="stylesheet", href="/build/css/style.css")
    body 
     include ../pug/blocks/header.pug
     include ../pug/blocks/section.pug
     include ../pug/blocks/section-2.pug
     include ../pug/blocks/section-3.pug
     include ../pug/blocks/section-4.pug
     include ../pug/blocks/section-5.pug
     include ../pug/blocks/section-6.pug
     include ../pug/blocks/section-contacts.pug
     include ../pug/blocks/footer.pug
