@import url(../scss/partials/header.scss);
@import url(../scss/partials/section.scss);
@import url(../scss/partials/section-2.scss);
@import url(../scss/partials/section-3.scss);
@import url(../scss/partials/section-4.scss);
@import url(../scss/partials/section-5.scss);
@import url(../scss/partials/section-6.scss);
@import url(../scss/partials/section-contacts.scss);
@import url(../scss/partials/footer.scss);
@import url(../scss/partials/media/768px.scss);
@import url(../scss/partials/media/1440px.scss);
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    src: url(../../build/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(../../build/fonts/roboto/Roboto.woff2);
}